<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
            {% if title %}
                <title>{{ title }}</title>
            {% else %}
                <title>SOMEEE</title>
            {% endif %}
    </head>
    <budy>
        <center><h1>Hello!!!</h1></center>
        <p>paragraph</p>
        <h1>Our users</h1>
        {% for username, status in users.items() %}
            <p>Username: {{ username }} Status: {{ status }}</p>
            </br>
        {% endfor %}
        <p>{{ data }}</p>

        <h1>Our my_list</h1>
        {% for i in my_list %}
            <p><a href="/{{ i }}">{{ i }}</a></p>
        {% endfor %}


    </budy>
</html>
