{% extends "base.html" %}

{% block content %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ site_title }}</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('home') }}">Cтуденты</a></li>
        <li><a href="{{ url_for('makrs_page') }}">Оценки</a></li>
        <li><a href="{{ url_for('facultets_page') }}">Факультеты</a></li>
        <li><a href="{{ url_for('curators_page') }}">Кураторы</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li> -->
        <li><a href="{{ url_for('home') }}"> НАЗАД</a></li>
      </ul>
    </div>
  </nav>


  <body>

    <div align="center" style="margin: 50px;">
          <h3>Меню создания нового студента</h3>
          <form name="user_add_form" method="post" action="{{ url_for('add_student') }}">
              <b>Введите имя нового cтудента: </b><input name="name" type="text" required><br><br>
              <b>Введите номер учебной  группы: </b><input name="study_group" type="number" required><br><br>
              <b>Выберите куратора: </b>
                  <select required name="curator" >
                  {% for curator in curators %}
                     <option value='{{ curator.id }}'>{{ curator.curator_name }}</option>
                  {% endfor %}
                  </select>
              <br><br>
              <b>Выберите факультет: </b>
                  <select required name="facultet" >
                  {% for facultet in facultets %}
                     <option value='{{ facultet.id }}'>{{ facultet.facultet_name }}</option>
                  {% endfor %}
                  </select>
              <br><br>
                  <button class="btn btn-primary" type="submit">Создать запись</button>
                  <a class="btn btn-primary" href="{{ url_for('home') }}">Отмена</a>
          </form>
   </div>

{% endblock %}
