{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site_title }}</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li ><a href="{{ url_for('home') }}">Cтуденты</a></li>
      <li><a href="{{ url_for('makrs_page') }}">Оценки</a></li>
      <li><a href="{{ url_for('facultets_page') }}">Факультеты</a></li>
      <li class="active"><a href="{{ url_for('curators_page') }}">Кураторы</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li> -->
      <li><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-plus"></span> Добавить куратора</a></li>
    </ul>
  </div>
</nav>


  <body>

    <div align="center" style="margin: 50px;">
          <h3>Кураторы студентов: </h3>
           <table class="table table-striped">
             <thead>
               <tr>
                 <th>Имя</th>
                 <th>Курируемые студенты</th>
                 <th>Действие</th>
               </tr>
             </thead>
             <tbody>

                 {% for curator in curators %}
                     <tr>
                       <td>{{ curator.curator_name }}</td>
                       <td>
                           {% for i in curator.get_curator_students() %}
                                {{ i.name }}<br>
                           {% endfor %}
                       </td>
                       <td>
                           <a class="btn btn-primary custom glyphicon glyphicon-edit" href="{{ url_for('home', id=catergory_id, category=catergory_name ) }}"></a>
                           <a class="btn btn-primary custom glyphicon glyphicon-trash" href="{{ url_for('home', id=catergory_id, category=catergory_name ) }}"></a>
                       </td>
                     </tr>
                 {% endfor %}

                </tbody>

            <table>
   </div>

{% endblock %}
