{% extends "base.html" %}

{% block content %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ site_title }}</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="{{ url_for('home') }}">Cтуденты</a></li>
        <li><a href="{{ url_for('makrs_page') }}">Оценки</a></li>
        <li><a href="{{ url_for('facultets_page') }}">Факультеты</a></li>
        <li><a href="{{ url_for('curators_page') }}">Кураторы</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li> -->
        <li><a href="{{ url_for('add_student') }}"><span class="glyphicon glyphicon-plus"></span> Добавить студента</a></li>
      </ul>
    </div>
  </nav>


  <body>

    <div align="center" style="margin: 50px;">
          <h3>Студенты нашего учебного заведения</h3>
           <table class="table table-striped">
             <thead>
               <tr>
                 <th>Имя</th>
                 <th>Учебная группа</th>
                 <th>Куратор</th>
                 <th>Факультет</th>
                 <th>Изменить</th>
                 <th>Удалить</th>
               </tr>
             </thead>
             <tbody>

                 {% for student in students %}
                     <tr>
                       <td>{{ student.name }}</td>
                       <td>{{ student.study_group }}</td>
                       <td>{{ student.curator.curator_name }}</td>
                       <td>{{ student.facultet.facultet_name }}</td>
                       <td><a class="btn btn-primary glyphicon glyphicon-edit" href="{{ url_for('edit_student', student_id=student.id ) }}"></a></td>
                       <td>
                           <form method="post" action="/delete_student">
                               <input type="hidden" name="user_delete_form" value="{{ student.id }}" />
                               <button class="confirm btn btn-primary glyphicon glyphicon-trash" type="submit"></button>
                           </form>
                       </td>
                     </tr>
                 {% endfor %}
                </tbody>
            <table>
   </div>


{% endblock %}
